body {
    background-color: rgb(184, 131, 233);
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 90%;
    width: 600px;
    height: auto;
    overflow: auto;
    background-color: white;
    margin: 200px auto 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

  
  h1 {
    margin-left: 0;
    margin-top: 0;
    color: rgb(36, 36, 209);
    font-style: oblique;
  }
  
  .demo {
    margin-left: 0;
    margin-top: 0.2rem;
  }
  
  input {
    margin-top: 0.5rem;
    padding: 4.5px;
    width: 100%;
    max-width: 20rem;
    border: 1px solid blue;
    border-radius: 4px;
  }
  
  .add {
    padding: 5px 10px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    background-color: rgb(70, 70, 218);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    word-break: break-word;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  
  .list li button {
    white-space: nowrap;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  
  @media (max-width: 500px) {
    .list li {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .list li button {
      margin-left: 0;
      margin-right: 0.5rem;
    }
  
    .add {
      display: block;
      margin-left: 0;
      margin-top: 0.5rem;
    }
  
    input {
      width: 100%;
    }
  }
  